<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap&text=SignwthMcrosf" rel="stylesheet">
<style>
  .sign-in-link.microsoft-link {
    font-family: 'Open Sans', sans-serif;
    color: #5E5E5E;
  }
  .sign-in-link.microsoft-link:hover {
    border-color: #2F2F2F;
  }
</style>
<a class="sign-in-link microsoft-link" href="./login/microsoft" title="Sign in with Microsoft">
  <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 41" width="50px" height="100%"><rect x="11" y="11" width="9" height="9" fill="#f25022"/><rect x="11" y="21" width="9" height="9" fill="#00a4ef"/><rect x="21" y="11" width="9" height="9" fill="#7fba00"/><rect x="21" y="21" width="9" height="9" fill="#ffb900"/></svg>
  <span class="login-text">Sign in with Microsoft</span>
</a>